<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginScreen" >

        </activity>
        <activity android:name=".SignUpScreen" >
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivityNavigtion">

        </activity>
        <activity android:name=".Activity.TheLoaiActivity" />
        <activity android:name=".Activity.HoaDonChiTietActivity" />
        <activity android:name=".Activity.HoaDonDetailActivity" />
        <activity android:name=".Activity.ListBanChayActivity" />
        <activity android:name=".Activity.ListHoaDonActivity" />
        <activity android:name=".Activity.ListSachActivity" />
        <activity android:name=".Activity.ListThongKeActivity" />
        <activity android:name=".Activity.SachDetailActivity" />
        <activity android:name=".Activity.ThemHoaDonActivity" />
        <activity android:name=".Activity.ThemSachActivity" />
        <activity android:name=".Activity.TheLoaiDetailActivity" />
        <activity android:name=".Activity.ListTheLoaiActivity" />
        <activity android:name=".LoadingScreen">

        </activity>
    </application>

</manifest>